parameters:
	ignoreErrors:
		-
			message: "#^Method Zxin\\\\Redis\\\\Connections\\\\PhpRedisConnection\\:\\:getConnectionConfig\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Connections/PhpRedisConnection.php

		-
			message: "#^Method Zxin\\\\Redis\\\\Connections\\\\PhpRedisConnection\\:\\:hScan\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Connections/PhpRedisConnection.php

		-
			message: "#^Method Zxin\\\\Redis\\\\Connections\\\\PhpRedisConnection\\:\\:sScan\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Connections/PhpRedisConnection.php

		-
			message: "#^Method Zxin\\\\Redis\\\\Connections\\\\PhpRedisConnection\\:\\:scan\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Connections/PhpRedisConnection.php

		-
			message: "#^Method Zxin\\\\Redis\\\\Connections\\\\PhpRedisConnection\\:\\:zScan\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Connections/PhpRedisConnection.php

		-
			message: "#^Property Zxin\\\\Redis\\\\Connections\\\\PhpRedisConnection\\:\\:\\$config type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Connections/PhpRedisConnection.php

		-
			message: "#^Else branch is unreachable because previous condition is always true\\.$#"
			count: 1
			path: src/Lua/RedisLua.php

		-
			message: "#^Method Zxin\\\\Think\\\\Redis\\\\CacheDriver\\:\\:getTagItems\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: think/CacheDriver.php

		-
			message: "#^Property Zxin\\\\Think\\\\Redis\\\\CacheDriver\\:\\:\\$options type has no value type specified in iterable type array\\.$#"
			count: 1
			path: think/CacheDriver.php

		-
			message: "#^Method Zxin\\\\Think\\\\Redis\\\\Pool\\\\PoolConnector\\:\\:pullPoolConfig\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: think/Pool/PoolConnector.php

		-
			message: "#^Property Zxin\\\\Think\\\\Redis\\\\Pool\\\\PoolConnector\\:\\:\\$objRecord type has no value type specified in iterable type array\\.$#"
			count: 1
			path: think/Pool/PoolConnector.php

