parameters:
    level: 6
    paths:
        - src
        - think
    scanFiles:
    stubFiles:
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - "#^Access to an undefined property Redis::\\$__(released|lock_\\w+)\\.$#"
        - "#has parameter \\$\\w+? with no value type specified in iterable type array.$#"
        - "#(return)? type has no value type specified in iterable type array.$#"
includes:
    - phpstan-baseline.neon